<table class="racer_table">
  <tr id="player1_track">
    <td class="active">1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr id="player2_track">
    <td class="active">2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
</table>

<div class="results">

  <h1>results page for round <%= @round_id %></h1>

  <div id="time">
  </div>

  <form action="/" method="GET">
    <input type="submit" value="Play Again">
  </form>
</div>
