<div class="container">
  <h1>Welcome to JS Racer!</h1>

  <form class="user" action="/" method="post">
    <input type="text" name="player1_name" placeholder="player 1 name here!"><br>
    <input type="text" name="player2_name" placeholder="player 2 name here!"><br>
    <input type="submit" value="start game!">
  </form>

</div>
