<div class="container">
  <h1>results page for round <%= @round.id %></h1>

  <div id="time">
  </div>

  <form action="/" method="GET">
    <input type="submit" value="Play Again">
  </form>
  
</div>
